[submodule "themes/next"]
	path = themes/next
	url = git@github.com:Quareia/hexo-theme-next.git
[submodule "gh-pages/personal-config-book"]
	path = gh-pages/personal-config-book
	url = git@github.com:Quareia/personal-config-book.git
